<section id="course">
  <div class="row justify-content-end">
    <div class="col-2">
      <select class="form-select bg-transparent border-secondary" name="sort" id="sort-by">
        <option value="">Sort by</option>
        <option value="title">Title</option>
        <option value="instructor">Instructor</option>
        <option value="price">Price</option>
        <option value="rating">Rating</option>
      </select>
    </div>
    <div class="col-2">
      <select class="form-select bg-transparent border-secondary" name="sort" id="direction">
        <option value="ASC">Ascending</option>
        <option value="DESC">Descending</option>
      </select>
    </div>
  </div>
  <div class="row mt-4">
    <% courses.forEach(course => { %>
    <div class="col-4 my-3 course">
      <a href="/course/<%- course.id %>">
        <div class="card">
          <div
            class="course-preview"
            style="background-image: url(/img/courses/<%- course.preview %>)"
          ></div>
          <div class="card-body position-relative">
            <h4 class="d-inline-block w-75"><%- course.title %></h4>
            <h5 class="fw-normal"><%- course.User.name %></h5>
            <h5><%- priceFormat(course.price) %></h5>
            <% if (user) { %>
            <div class="d-flex justify-content-end">
              <form action="/wishlist" method="post" class="wishlist mx-1">
                <button type="submit" class="btn btn-outline-secondary" <%- course.instructor === user.username ? 'disabled' : '' %>>
                  <i class="bi bi-heart fs-5"></i>
                </button>
                <input type="hidden" name="user" value="<%- user.username %>" />
                <input type="hidden" name="course" value="<%- course.id %>" />
              </form>
              <form action="/cart" method="post" class="cart mx-1">
                <button type="submit" class="btn btn-outline-secondary" <%- course.instructor === user.username ? 'disabled' : '' %>>
                  <i class="bi bi-cart fs-5"></i>
                </button>
                <input type="hidden" name="user" value="<%- user.username %>" />
                <input type="hidden" name="course" value="<%- course.id %>" />
              </form>
            </div>
            <% } %>
            <span
              class="rating d-flex justify-content-center align-items-center"
            >
              <img src="/img/icons/star.png" alt="rating" class="me-2" />
              <%- course.rating %>
            </span>
          </div>
        </div>
      </a>
    </div>
    <% }) %>
  </div>
</section>
