<section id="course-instructor" class="pb-5">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="row justify-content-between">
        <div class="col-6 d-flex justify-content-center align-items-center">
          <div class="w-100">
            <h5>INSTRUCTOR</h5>
            <h1><%- instructor.name %></h1>
            <div class="row mt-4">
              <div class="col-4">
                <h4 class="text-secondary">Total Student</h4>
                <h4><%- totalStudent %></h4>
              </div>
              <div class="col-4">
                <h4 class="text-secondary">Total Course</h4>
                <h4><%- courses.length %></h4>
              </div>
              <div class="col-4">
                <h4 class="text-secondary">Rating</h4>
                <h4><%- instructor.Instructor.rating %></h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <img
            src="/img/profiles/<%- instructor.picture %>"
            alt="<%- instructor.name %>"
            class="img-thumbnail w-100 rounded-circle"
          />
        </div>
      </div>

      <hr class="my-5" />

      <h2>About Me</h2>
      <p><%- instructor.Instructor.bio %></p>

      <h2 class="mt-5 mb-4">My Courses (<%- courses.length %>)</h2>
      <div class="row">
        <% courses.forEach(course => { %>
        <div class="col-4">
          <a
            href="/course/<%- course.id %>"
            class="text-decoration-none text-dark"
          >
            <div class="bg-light instructor-course position-relative">
              <div
                class="course-preview"
                style="
                  background-image: url(/img/courses/<%- course.preview %>);
                "
              ></div>
              <div class="p-4">
                <h4><%- course.title %></h4>
                <h5 class="fw-normal text-secondary mb-4">
                  <%- instructor.name %>
                </h5>
                <h5><%- priceFormat(course.price) %></h5>
              </div>
              <div class="position-absolute course-rating">
                <h5><i class="bi bi-star-fill"></i> <%- course.rating %></h5>
              </div>
            </div>
          </a>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</section>
