<div class="community">
  <div class="chat-container">
    <% chats.forEach(chat => { const userType = chat.user === user.username ?
    'sender' : 'receiver'; const align = userType === 'sender' ? 'end' :
    'start'; const date = new Date(); %>
    <div class="row text-dark justify-content-<%= `${align} ${userType}` %>">
      <div
        class="col chat rounded shadow position-relative my-1 p-3 text-<%= align %>"
      >
        <span class="text-warning fw-bold fs-5"><%= chat.user %></span>
        <p><%= chat.chat %></p>
        <span>
          <%= `${date.getDate()}-${date.getMonth()+1}-${date.getFullYear()} |
          ${date.getHours()}:${date.getMinutes()}` %>
        </span>
      </div>
    </div>
    <% }) %>
  </div>
  <div class="send-container pt-3">
    <form action="/community/<%= community.id%>" method="POST">
      <div class="row justify-content-center">
        <div class="col-9 p-0">
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Write your chat here..."
              name="chat"
              autocomplete="off"
              autofocus
            />
          </div>
        </div>
        <div class="col-1 p-0 text-center">
          <button type="submit" class="btn btn-primary">
            <i class="bi bi-send"></i>
          </button>
        </div>
      </div>
      <input type="hidden" name="username" value="<%= user.username %>" />
      <input type="hidden" name="name" value="<%= user.name %>" />
      <input type="hidden" name="picture" value="<%= user.picture %>" />
      <input type="hidden" name="community" value="<%= community.id %>" />
    </form>
  </div>
</div>
