<div class="d-flex">
  <div class="community">
    <div class="chat-container">
      <% chats.forEach(chat => { const userType = chat.user === user.username ?
      'sender' : 'receiver'; const align = userType === 'sender' ? 'end' :
      'start'; const date = new Date(chat.chat_date); %>
      <div class="row text-dark justify-content-<%= `${align} ${userType}` %>">
        <div
          class="col-1 <%= userType === 'receiver' ? 'order-1 text-end' : 'order-2 text-start' %>"
        >
          <img
            src="/img/profiles/<%= chat.User.picture %>"
            class="rounded-circle mt-4"
            style="width: 32px; height: 32px"
          />
        </div>
        <div
          class="col <%= userType === 'receiver' ? 'order-2' : 'order-1' %> chat rounded position-relative my-2 p-3 text-<%= align %>"
        >
          <span class="fw-bold"><%= chat.name %></span>
          <p class="mt-2"><%= chat.chat %></p>
          <span class="chat-date">
            <%= `${date.getDate()}/${date.getMonth()+1}/${date.getFullYear()} |
            ${(""+date.getHours()).length === 1 ? '0' + date.getHours() :
            date.getHours()}:${(""+date.getMinutes()).length === 1 ? '0' +
            date.getMinutes() : date.getMinutes()}` %>
          </span>
        </div>
      </div>
      <% }) %>
    </div>
    <div class="send-container p-3">
      <form action="/community/<%= community.id%>" method="POST">
        <div class="row justify-content-center">
          <div class="col-9 p-0">
            <div class="shadow">
              <input
                type="text"
                class="form-control"
                placeholder="Write your chat here..."
                name="chat"
                autocomplete="off"
                autofocus
              />
            </div>
          </div>
          <div class="col-1 p-0 text-center shadow button-container">
            <button type="submit" class="btn btn-info w-100 h-100">
              <img src="/img/icons/send.png" alt="Send" />
            </button>
          </div>
        </div>
        <input type="hidden" name="username" value="<%= user.username %>" />
        <input type="hidden" name="name" value="<%= user.name %>" />
        <input type="hidden" name="picture" value="<%= user.picture %>" />
        <input type="hidden" name="community" value="<%= community.id %>" />
      </form>
    </div>
  </div>
  <div class="sidebar">
    <h5 class="text-center text-uppercase"><%= community.name %></h5>
    <hr />
    <h6 class="text-uppercase mt-4">instructor</h6>
    <ul class="list-group">
      <li class="list-group-item text-secondary instructor border-0">
        <span class="position-relative d-inline-block">
          <img
            src="/img/profiles/<%= instructor.picture %>"
            class="rounded-circle"
            style="width: 30px; height: 30px"
          />
          <span
            class="user-status position-absolute p-2 bg-danger border border-light rounded-circle"
          >
            <span class="visually-hidden"><%= instructor.username %></span>
          </span>
        </span>
        <span class="name">
          <%= `${instructor.name}${isInstructor ? ' (Me)' : ''}` %>
        </span>
      </li>
    </ul>
    <h6 class="text-uppercase mt-4">members (<%= course.members %>)</h6>
    <ul class="list-group members">
      <% if(!isInstructor){ %>
      <li class="list-group-item text-secondary member border-0 me">
        <span class="position-relative d-inline-block">
          <img
            src="/img/profiles/<%= user.picture %>"
            class="rounded-circle"
            style="width: 30px; height: 30px"
          />
          <span
            class="user-status position-absolute p-2 bg-danger border border-light rounded-circle"
          >
            <span class="visually-hidden"><%= user.username %></span>
          </span>
        </span>
        <span class="name"> <%= user.name %> (Me) </span>
      </li>
      <% } communityUsers.forEach(communityUser => { %>
      <li class="list-group-item text-secondary member border-0">
        <span class="position-relative d-inline-block">
          <img
            src="/img/profiles/<%= communityUser.User.picture %>"
            class="rounded-circle"
            style="width: 30px; height: 30px"
          />
          <span
            class="user-status position-absolute p-2 bg-danger border border-light rounded-circle"
          >
            <span class="visually-hidden"
              ><%= communityUser.User.username %></span
            >
          </span>
        </span>
        <span class="name"> <%= communityUser.User.name %> </span>
      </li>
      <% }) %>
    </ul>
  </div>
</div>
