<div id="wishlist">
  <div class="d-flex justify-content-between bg-light rounded user-menu">
    <a href="/my" class="menu py-3 text-center">Dashboard </a>
    <a href="/my/course" class="menu py-3 text-center">Courses </a>
    <a href="/wishlist" class="menu py-3 active text-center">Wishlist </a>
  </div>
  <% wishlists.forEach(wishlist => { %>
  <div class="row shadow">
    <div
      class="col-4 course-preview"
      style="background-image: url(/img/courses/<%- wishlist.Course.preview %>)"
    ></div>
    <div class="col-8 p-3 position-relative">
      <h4><%- wishlist.Course.title %></h4>
      <h6 class="text-secondary fw-normal"><%- wishlist.Course.User.name %></h6>
      <p><%- wishlist.Course.description %></p>
      <div class="row justify-content-between">
        <div class="col-4 text-secondary d-flex">
          <div class="d-flex justify-content-center align-items-center me-5">
            <img
              src="/img/icons/rating.png"
              alt="rating"
              style="width: 20px"
              class="me-2"
            /><%- wishlist.Course.rating %>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <img
              src="/img/icons/members.png"
              alt="members"
              style="width: 20px"
              class="me-2"
            /><%- wishlist.Course.members %>
          </div>
        </div>
        <div class="col-2">
          <span class="text-secondary"
            ><%- priceFormat(wishlist.Course.price) %></span
          >
        </div>
      </div>
      <div class="wishlist-menu position-absolute d-flex">
        <form action="/wishlist" method="delete" class="mx-1">
          <button type="submit" class="text-secondary">
            <img src="/img/icons/remove.png" alt="remove" style="width: 25px" />
            Remove
          </button>
          <input type="hidden" name="id" value="<%- wishlist.id %>" />
        </form>
        <form action="/cart" method="post" class="mx-1 cart">
          <button type="submit" class="text-secondary">
            <img src="/img/icons/cart.png" alt="cart" style="width: 25px" />
            Add to cart
          </button>
          <input type="hidden" name="user" value="<%- user.username %>" />
          <input
            type="hidden"
            name="course"
            value="<%- wishlist.Course.id %>"
          />
        </form>
      </div>
    </div>
  </div>
  <% }) %>
</div>
