<div id="course-dashboard">
  <div class="row justify-content-center">
    <div class="col-5 d-flex align-items-center position-relative">
      <img
        src="/img/courses/<%- course.preview %>"
        alt="<%- course.title %>"
        class="img-fluid rounded"
      />
      <form
        action="/instructor/courses/<%- course.id %>/preview"
        method="put"
        id="instructor-course-upload"
      >
        <input type="hidden" name="prevName" value="<%- course.preview %>" />
        <input
          type="file"
          name="preview"
          accept="image/png, image/jpeg"
          id="preview"
          class="d-none"
        />
      </form>
      <label for="preview" class="picture-btn position-absolute p-3">
        <i class="bi bi-camera-fill rounded-circle px-2 border border-dark"></i>
      </label>
    </div>
    <div class="col-5 d-flex align-items-center">
      <div class="w-100">
        <h1 class="mb-4"><%- course.title %></h1>
        <p class="my-2"><%- course.description %></p>
        <p class="my-2">
          Created by
          <a href="/course/<%- course.id %>/instructor">
            <%- course.User.name %>
          </a>
        </p>
        <h4 class="my-3">
          <i class="bi bi-star-fill"></i> <%- course.rating %>
          <i class="bi bi-person-fill"></i> <%- course.members %>
        </h4>
        <h3><%- priceFormat(course.price) %></h3>

        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-secondary w-100"
          data-bs-toggle="modal"
          data-bs-target="#updateCourseModal"
        >
          Edit course
        </button>
      </div>
    </div>
  </div>
  <hr class="m-5" />
  <div class="row justify-content-center">
    <div class="col p-5 rounded" style="background-color: #d9d9d9">
      <h2>Course Detail</h2>

      <h3 class="mt-4 mb-2">Title</h3>
      <h4 class="fw-normal"><%- course.title %></h4>

      <h3 class="mt-4 mb-2">Description</h3>
      <p><%- course.description %></p>

      <h3 class="mt-4 mb-2">Price</h3>
      <h4 class="fw-normal"><%- priceFormat(course.price) %></h4>

      <h3 class="mt-4 mb-2">Meet Link</h3>
      <p class="fs-5">
        <a href="<%- course.meet_link %>"><%- course.meet_link %></a>
      </p>

      <h3 class="mt-4 mb-2">Meet Time</h3>
      <h4 class="fw-normal"><%- course.meet_day %>, <%- course.meet_time %></h4>
    </div>
  </div>
  
  <div class="row mt-5 justify-content-center">
    <div class="col p-5 rounded" style="background-color: #d9d9d9">
      <h2>Contents</h2>
      
      <div class="text-end">
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-toggle="modal"
          data-bs-target="#addContentModal"
        >
        Add Content
        </button>
      </div>

      <div class="accordion mt-3" id="contentList">
        <% contents.forEach((content, index) => { %>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%- `content-${index}` %>" aria-controls="<%- `content-${index}` %>">
                <%- content.label %>
              </button>
            </h2>
            <div id="<%- `content-${index}` %>" class="accordion-collapse collapse" data-bs-parent="#contentList">
              <div class="accordion-body">
                <video src="/videos/<%- content.Video.file %>" class="w-100" controls></video>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Update Course -->
<div
  class="modal fade"
  id="updateCourseModal"
  tabindex="-1"
  aria-labelledby="updateCourseModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateCourseModalLabel">
          Update Course
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form
        action="/instructor/courses/<%- course.id %>"
        method="put"
        class="mt-3 form-send"
      >
      <input type="hidden" name="id" value="<%- course.id %>">
        <div class="modal-body">
          <div class="mb-3 row">
            <div class="col-2 d-flex align-items-center">
              <label for="title" class="form-label"> Title </label>
            </div>
            <div class="col">
              <input
                type="text"
                class="form-control border-secondary"
                id="title"
                name="title"
                placeholder="Your course title"
                value="<%- course.title %>"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label"> Description </label>
            <textarea
              class="form-control border-secondary"
              id="description"
              rows="5"
              name="description"
            >
<%- course.description %></textarea
            >
          </div>
          <!-- <div class="mb-3 row">
        <div class="col-2 d-flex align-items-center">
          <label for="tag" class="form-label"> Tag </label>
        </div>
        <div class="col-6">
          <input
            type="text"
            class="form-control border-secondary"
            id="tag"
            placeholder="Your course tag"
          />
        </div>
      </div> -->
          <div class="mb-3 row">
            <div class="col-2 d-flex align-items-center">
              <label for="price" class="form-label"> Price </label>
            </div>
            <div class="col-6">
              <input
                type="text"
                class="form-control border-secondary"
                id="price"
                placeholder="Your course price"
                name="price"
                value="<%- course.price %>"
              />
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-2 d-flex align-items-center">
              <label for="meetLink" class="form-label"> Meet link </label>
            </div>
            <div class="col-6">
              <input
                type="url"
                class="form-control border-secondary"
                id="meetLink"
                placeholder="Meet link"
                name="meet_link"
                value="<%- course.meet_link %>"
              />
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-2 d-flex align-items-center">
              <label for="meetDay" class="form-label"> Meet day </label>
            </div>
            <div class="col-4">
              <select
                class="form-select border-secondary"
                id="meetDay"
                name="meet_day"
              >
                <option value="monday" <%- course.meet_day === 'Monday' ? 'selected' : '' %>>Monday</option>
                <option value="tuesday" <%- course.meet_day === 'Tuesday' ? 'selected' : '' %>>Tuesday</option>
                <option value="wednesday" <%- course.meet_day === 'Wednesday' ? 'selected' : '' %>>Wednesday</option>
                <option value="thursday" <%- course.meet_day === 'Thursday' ? 'selected' : '' %>>Thursday</option>
                <option value="friday" <%- course.meet_day === 'Friday' ? 'selected' : '' %>>Friday</option>
                <option value="saturday" <%- course.meet_day === 'Saturday' ? 'selected' : '' %>>Saturday</option>
                <option value="sunday" <%- course.meet_day === 'Sunday' ? 'selected' : '' %>>Sunday</option>
              </select>
            </div>
          </div>
          <div class="mb-4 row">
            <div class="col-2 d-flex align-items-center">
              <label for="meetTime" class="form-label"> Meet time </label>
            </div>
            <div class="col-4">
              <input
                type="time"
                class="form-control border-secondary"
                id="meetTime"
                name="meet_time"
                value="<%- course.meet_time %>"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Add Content -->
<div
  class="modal fade"
  id="addContentModal"
  tabindex="-1"
  aria-labelledby="addContentModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addContentModalLabel">
          Add Content
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form
        action="/instructor/courses/<%- course.id %>/content"
        method="post"
        class="mt-3 form-send form-file"
      >
      <input type="hidden" name="course" value="<%- course.id %>">
        <div class="modal-body">
          <div class="mb-3 row">
            <div class="col-2 d-flex align-items-center">
              <label for="label" class="form-label"> Label </label>
            </div>
            <div class="col">
              <input
                type="text"
                class="form-control border-secondary"
                id="label"
                name="label"
                placeholder="Your course label"
              />
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-2 d-flex align-items-center">
              <label for="formFile" class="form-label"> Video </label>
            </div>
            <div class="col">
              <input class="form-control border-secondary" name="file" type="file" id="formFile" accept=".mp4">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
