<main>
  <div class="position-relative">
    <div
      class="position-absolute landing-bg"
      style="background-image: url(/img/background/learn.jpg)"
    ></div>
    <header class="container-fluid pb-2 text-light position-relative">
      <div class="row pt-5 px-4 justify-content-between align-items-center">
        <div class="col-5">
          <h3 class="fw-light">
            Helo, Welcome to Interactive English E-learning
          </h3>
          <h1>Find your English Skills Here</h1>
          <h2 class="fw-light pt-5 pb-4 pe-5">
            Learn English interactively with your Instructor and Course Mates
          </h2>
        </div>
      </div>
      <% if (!user) { %>
      <div class="row auth px-5 mt-5">
        <div class="col-4">
          <div class="d-flex justify-content-between">
            <a href="/login" class="btn text-light">Sign in</a>
            <a href="/register" class="btn text-light">Sign up</a>
          </div>
        </div>
      </div>
      <% } %>
      <div class="row px-4 mt-5">
        <div class="sosmed my-1">
          <img src="/img/logo/instagram.png" alt="Instagram" class="me-2" />
          @LearNTeach
        </div>
        <div class="sosmed my-1">
          <img
            src="/img/logo/twitter.png"
            alt="Twitter"
            class="me-2"
            style="width: 35px; height: 35px; margin-left: -2px"
          />
          @LearNTeach
        </div>
        <div class="sosmed my-1">
          <img src="/img/logo/facebook.png" alt="Facebook" class="me-2" />
          @LearNTeach
        </div>
      </div>
    </header>
  </div>
  <section class="new-course container-fluid text-light">
    <div class="row">
      <div class="col-3 d-flex justify-content-center align-items-center">
        <div class="new-course-title">
          <h2>Latest Updates</h2>
          <h5 class="fw-light">Stay connect with us</h5>
        </div>
      </div>
      <div class="col-9">
        <div class="row px-4" style="padding-top: 5rem; padding-bottom: 5rem">
          <% lastCourses.forEach(course => { %>
          <div class="col-4">
            <div class="card" style="min-height: 25rem">
              <img
                src="/img/courses/<%- course.preview %>"
                class="card-img-top"
                alt="<%- course.title %>"
              />
              <div class="card-body text-center position-relative">
                <h5 class="card-title"><%- course.title %></h5>
                <p class="card-text" style="margin-bottom: 4rem">
                  <%- course.description.length > 90 ?
                  course.description.substring(0, 90) + "..." :
                  course.description %>
                </p>
                <div
                  class="text-center position-absolute"
                  style="left: 30px; bottom: 25px; right: 30px"
                >
                  <a
                    href="/course/<%- course.id %>"
                    class="btn btn-secondary w-100"
                    >Learn More</a
                  >
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </section>
  <section class="course container-fluid text-light py-5">
    <div class="row">
      <div class="col text-center">
        <h2>Our Courses</h2>
        <h5 class="fw-light">Explore our wide range of English courses</h5>
      </div>
    </div>
    <div class="row p-5">
      <% courses.forEach(course => { %>
      <div class="col-3">
        <div class="card" style="min-height: 25rem">
          <img
            src="/img/courses/<%- course.preview %>"
            class="card-img-top"
            alt="<%- course.title %>"
          />
          <div class="card-body text-center position-relative">
            <h5 class="card-title"><%- course.title %></h5>
            <h6 class="fw-normal"><%- course.User.name %></h6>
            <div
              class="row justify-content-between align-items-center"
              style="margin-bottom: 4rem"
            >
              <div class="col-6 fw-bold"><%- priceFormat(course.price) %></div>
              <div
                class="col-6 d-flex justify-content-center align-items-center"
              >
                <img
                  src="/img/icons/star.png"
                  alt="rating"
                  class="me-2"
                  style="width: 30px"
                />
                <%- course.rating %>
              </div>
            </div>
            <div
              class="text-center position-absolute"
              style="left: 30px; bottom: 25px; right: 30px"
            >
              <a href="/course/<%- course.id %>" class="btn btn-secondary w-100"
                >Learn More</a
              >
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </section>
</main>
